In [1]:
#importing libraries
import pandas as pd
import numpy as np
# read a csv from fifa_allcountries
fifa=pd.read_csv('FIFA2014 - all players.csv')
fifa.head()

,Player id,Player,Position,Number,Club,Club (country),D.O.B,Age,Height (cm),Country,Caps,International goals,Plays in home country?
0,336722,Alan PULIDO,Forward,11,Tigres UANL,Mexico,08.03.1991,23,176,Mexico,5,4,True
1,368902,Adam TAGGART,Forward,9,Newcastle United Jets FC,Australia,02.06.1993,21,172,Australia,4,3,True
2,362641,Reza GHOOCHANNEJAD,Forward,16,Charlton Athletic FC,England,20.09.1987,26,181,Iran,13,9,False
3,314197,NEYMAR,Forward,10,FC Barcelona,Spain,05.02.1992,22,175,Brazil,48,31,False
4,212306,Didier DROGBA,Forward,11,Galatasaray SK,Turkey,11.03.1978,36,180,Ivory Coast,100,61,False

In [2]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Player id               736 non-null    int64
 1   Player                  736 non-null    object
 2   Position                736 non-null    object
 3   Number                  736 non-null    int64
 4   Club                    736 non-null    object
 5   Club (country)          736 non-null    object
 6   D.O.B                   736 non-null    object
 7   Age                     736 non-null    int64
 8   Height (cm)             736 non-null    int64
 9   Country                 736 non-null    object
 10  Caps                    736 non-null    int64
 11  International goals     736 non-null    int64
 12  Plays in home country?  736 non-null    bool
dtypes: bool(1), int64(6), object(6)
memory usage: 69.8+ KB

In [3]:
# Create Players.csv
players = fifa[['Player id', 'Player', 'Position', 'Number', 'D.O.B', 'Age', 'Height (cm)', 'Country', 'Caps', 'International goals']]
players.to_csv('Players.csv', index=False)

In [4]:
# Create Clubs.csv
clubs = fifa[['Club', 'Club (country)']].drop_duplicates().rename(columns={'Club': 'Club_Name', 'Club (country)': 'Club_Country'})
clubs.to_csv('Clubs.csv', index=False)

In [5]:
# Create Plays_For.csv
plays_for = fifa[['Player id', 'Club', 'Plays in home country?']].rename(columns={'Club': 'Club_Name'})
plays_for.to_csv('Plays_For.csv', index=False)

In [6]:
# Create Teammates.csv (this requires a bit more data processing)
from itertools import combinations

# Assume we process only for one club at a time to avoid memory issues
teammates = pd.DataFrame(columns=['Player ID 1', 'Player ID 2', 'Club_Name'])
for club in clubs['Club_Name'].unique():
    players_in_club = fifa[fifa['Club'] == club]['Player id']
    club_teammates = pd.DataFrame(list(combinations(players_in_club, 2)), columns=['Player ID 1', 'Player ID 2'])
    club_teammates['Club_Name'] = club
    teammates = pd.concat([teammates, club_teammates], ignore_index=True)

teammates.to_csv('Teammates.csv', index=False)